:root {
  --animation-all-300-ease-in-out: all 300ms ease-in-out;
  --animation-all-1000-ease-in-out: all 1000ms ease-in-out;
  --animation-slide-in: a-slide-in 0.5s forwards;
  --animation-slide-out: a-slide-out 0.5s forwards;
  --breakpoint-phone-only: 599px;
  --breakpoint-tablet-portrait-up: 600px;
  --breakpoint-tablet-landscape-up: 900px;
  --breakpoint-desktop-up: 1200px;
  --breakpoint-large-desktop-up: 1800px;
  --color-orange-90: 120, 41, 14;
  --color-orange-80: #a33815;
  --color-orange-70: #c6461b;
  --color-orange-60: #e35121;
  --color-orange-50: 255, 92, 40;
  --color-orange-40: #ff7c53;
  --color-orange-30: #ff9d7e;
  --color-orange-20: 255, 222, 212;
  --color-purple-90: #080003;
  --color-purple-80: 33, 0, 14;
  --color-purple-70: #330015;
  --color-purple-60: #3d001a;
  --color-purple-50: 72, 0, 30;
  --color-purple-40: #6c334b;
  --color-purple-30: #916678;
  --color-purple-20: #b599a5;
  --color-purple-10: 218, 204, 210;
  --color-pink-90: #c48376;
  --color-pink-80: #dc9a8d;
  --color-pink-70: #edaea1;
  --color-pink-60: #f6bcb1;
  --color-pink-50: #ffccc2;
  --color-pink-40: #ffd6ce;
  --color-pink-30: #ffe0da;
  --color-pink-20: #ffeae6;
  --color-pink-10: #fff4f2;
  --color-grey-90: #1a1a1a;
  --color-grey-80: #333;
  --color-grey-70: #4d4d4d;
  --color-grey-60: #666;
  --color-grey-50: grey;
  --color-grey-40: #999;
  --color-grey-30: #b3b3b3;
  --color-grey-20: #ccc;
  --color-grey-10: #e6e6e6;
  --color-yellow-100: #ffb73f;
  --color-yellow-80: #ffc565;
  --color-yellow-60: #ffd38b;
  --color-yellow-40: #ffe2b2;
  --color-yellow-20: #fff0d8;
  --color-bright-yellow-100: #fff2de;
  --color-bright-yellow-80: #fff4e4;
  --color-bright-yellow-60: #fff7eb;
  --color-bright-yellow-40: #fff9f1;
  --color-bright-yellow-20: #fffcf8;
  --color-blue-90: #000c12;
  --color-blue-80: #041b27;
  --color-blue-70: #0a2735;
  --color-blue-60: #112e3c;
  --color-blue-50: #193543;
  --color-blue-40: #475d68;
  --color-blue-30: #75858e;
  --color-blue-20: #a3aeb3;
  --color-blue-10: #d1d6d9;
  --color-bright-blue-100: #d1e5f0;
  --color-bright-blue-80: #daeaf3;
  --color-bright-blue-60: #e3eff6;
  --color-bright-blue-40: #ecf4f9;
  --color-bright-blue-20: #f5f9fc;
  --color-peach-100: #ff9e82;
  --color-peach-80: #ffb19b;
  --color-peach-60: #ffc4b4;
  --color-peach-40: #ffd8cd;
  --color-peach-20: #ffebe6;
  --color-bright-peach-100: #ffefe7;
  --color-bright-peach-80: #fff2eb;
  --color-bright-peach-60: #fff5f0;
  --color-bright-peach-40: #fff8f5;
  --color-bright-peach-20: #fffbfa;
  --color-green-90: #000d08;
  --color-green-80: #022318;
  --color-green-70: #063123;
  --color-green-60: #0b3929;
  --color-green-50: #104030;
  --color-green-40: #3f6659;
  --color-green-30: #6f8c82;
  --color-green-20: #9fb2ac;
  --color-green-10: #cfd8d5;
  --color-bright-green-100: #d6e3cc;
  --color-bright-green-80: #dee8d6;
  --color-bright-green-60: #e6eee0;
  --color-bright-green-40: #eef3ea;
  --color-bright-green-20: #f6f9f4;
  --color-red-100: #984148;
  --color-red-60: #c18d91;
  --color-red-80: #ac676c;
  --color-red-40: #d5b3b5;
  --color-red-20: #ead9da;
  --color-bright-red-100: #eb9896;
  --color-bright-red-80: #efacab;
  --color-bright-red-60: #f3c1c0;
  --color-bright-red-40: #f7d5d5;
  --color-bright-red-20: #fbeaea;
  --color-warm-grey-90: #b8a693;
  --color-warm-grey-80: #cabaa8;
  --color-warm-grey-70: #d5c8b8;
  --color-warm-grey-60: #d8cec3;
  --color-warm-grey-50: #dcd5cd;
  --color-warm-grey-40: #f6f3ec;
  --color-warm-grey-30: #eae6e0;
  --color-warm-grey-20: #f2eeeb;
  --color-warm-grey-10: #f8f6f5;
  --color-black: #000;
  --color-white: #fff;
  --core-baseline: 0.8rem;
  --core-font-size: calc(var(--core-baseline)*2);
  --core-letter-spacing: calc(var(--core-font-size)*0.0625);
}
