.player {
  scroll-snap-align: start;
  // All-purpose
  &__playpause {
    & > button {
      background-color: var(--v-primary-darken2);
      border-radius: 50%;
      min-width: 25vmin;
      min-height: 25vmin;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
      transition: box-shadow 0.2s ease-in-out;
      &.loading {
        box-shadow: none;
      }
      &:focus {
        outline: none;
      }
      &:active {
        animation: btn-click 0.3s forwards;
      }
      & > svg {
        color: var(--color-bg);
        fill: var(--color-bg);
        width: 25vmin;
        height: 25vmin;
      }
    }
    transform: scale(0);
    animation: play-scale 0.4s ease-in-out forwards;
  }
}

@keyframes play-scale {
  100% {
    transform: scale(1);
  }
}

.v-slider--horizontal .v-slider__thumb-label {
  height: 1.25rem !important;
  width: auto !important;
  background-color: rgba(black, 0.6) !important;
  border-color: rgba(black, 0.6) !important;
  transform: translateY(-75%) translateX(-50%) rotate(0) !important;
  border-radius: 2px;
  padding: 0 0.25rem;
  & > * {
    transform: rotate(0) !important;
  }
}

// Fix for slider's thumb staying on even if the prop was set to 'false'
.v-slider__thumb-label-container {
  // TODO: Add transition
  display: none !important;
  @at-root.show-thumb-label & {
    display: block !important;
  }
}
