.player {
  $self: &;
  &-mobile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: $primary-transition;
    &.disabled {
      // TODO: Check the positionibng on different screen sizes
      transform: translateY(calc(-25% - #{$mobile-header-height}));
      .player-actions-container-primary {
        opacity: 0.25;
        filter: blur(4px) grayscale(100%);
      }
    }
    // TODO:
    #{ $self }__progress {
      // Sama as .flex & .xs12
      max-width: 100%;
      flex-basis: 100%;
      flex-grow: 0;
      flex: 1 1 auto;
      &-labels {
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
        font-size: 0.75rem; //caption
      }
    }
  }
  &-actions-container {
    height: 100%;
    &-primary {
      height: 100%;
      will-change: transform, filter, opacity;
    }
  }

  &-header {
    height: 84px;
    align-items: flex-start;
  }

  &-speed,
  &-sleep {
    padding: 0 1rem;
    &-btn {
      &--on {
        .v-btn__content {
          &::before,
          &::after {
            font-size: 10px;
            font-weight: 900 !important;
            content: "Z";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }
          &::before {
            animation: 4s linear infinite sleep;
          }
          &::after {
            animation: 4s ease-out infinite sleep;
          }
        }
      }
    }
  }

  .v-tabs-items {
    height: calc(100vh - #{$mobile-header-height});
    overflow-y: scroll;
  }
}
