@import "source-sans-pro";
@import "source-serif-pro";
@import "animations";

:root {
  --color-bg: #f4f3ef;
  --color-medium-emphasis: rgba(0, 0, 0, 0.54);
}

body {
  overflow-y: hidden;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

// Bottom sheets
.v-card {
  &.browse,
  &.search-results {
    transition: all 0.2s ease-in-out;
    border-radius: 1rem 1rem 0 0 !important;
    height: 100%;
    &:focus:before {
      opacity: 0 !important;
    }
  }
  &.browse {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    // TODO: Something better
    & .row:first-of-type {
      cursor: pointer;
    }
    .bookshelf {
      overflow-y: scroll;
      // &::-webkit-scrollbar {
      //   width: 0px;
      //   background: transparent;
      // }
    }

    // Flipping books on desktop
    @media (min-width: 900px) {
      .bookshelf {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        .v-card {
          height: calc(100% - 4rem);
          transform-origin: left top;
          transition: $primary-transition;
          margin: 0.5rem;
          // Selected is disabled
          &--disabled {
            transform: rotate(-2deg) translateX(-1rem);
          }
        }
        .v-card__text {
          min-width: 6rem;
          display: flex;
          flex-direction: row-reverse;
          height: 100%;
          align-items: center;
          justify-content: space-between;
          writing-mode: vertical-rl;
          text-orientation: mixed;
        }
      }
    }
  }
}
.theme--light.v-card {
  &.browse {
    background-color: white;
  }
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 2rem;
    height: 2rem;
    opacity: 0.3;
  }
}

// Typography

.v-application {
  .display-1.serif,
  .display-2.serif,
  .display-3.serif,
  .display-4.serif,
  .headline.serif,
  .title.serif {
    font-family: $serif-font-family !important;
  }
}

// Icon buttons

button {
  svg {
    width: 24px;
    height: 24px;
  }
}

button:disabled {
  svg {
    fill: var(--v-secondary-lighten2);
  }
}

// Dialog close button
.dialog {
  &__close {
    display: block !important;
    margin-left: auto;
  }
}

//
// VUETIFY CUSTOMIZATIONS
//

// Vuetify default style sets only 'color'
.theme--light.v-btn.v-btn--icon {
  fill: var(--color-medium-emphasis);
}

.v-btn--outlined {
  border: thin solid rgba(black, 0.2) !important;
  background-clip: padding-box;
}

// Making slider span the whole screen
.v-slider--horizontal {
  margin: 0 !important;
}

.v-tab {
  text-transform: none !important;
}

.theme--light.v-tabs {
  border-bottom: 1px solid white;
  .v-tabs-slider-wrapper {
    display: none !important;
  }
  .v-tab,
  .v-tab--active {
    &:focus::before,
    &:hover::before,
    .v-ripple__container {
      opacity: 0 !important;
    }
  }
}

.v-dialog .theme--light.v-card {
  background: white;
}

.theme--light.v-tabs-items,
.v-tabs-items.theme--light .v-sheet.theme--light {
  background-color: transparent !important;
}

.v-menu__content {
  border-radius: 2rem !important;
  box-shadow: 0 1.9px 3.1px rgba(0, 0, 0, 0.035),
    0 15px 25px rgba(0, 0, 0, 0.07) !important;
}

// TODO:
.toc {
  // Fix on mobile
  margin-bottom: 7rem;
}
