$mobile-header-height: 100px;
$bookshelf-bookmark-height: 3.5rem;

// VUETIFY

// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
$border-radius-root: 2px;
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$serif-font-family: "Source Serif Pro", "New York", "Georgia", serif;
$body-font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

$headings: (
  "h1": (
    "letter-spacing": normal
  ),
  "headline": (
    "letter-spacing": normal
  ),
  "title": (
    "letter-spacing": normal
  ),
  "h4": (
    "font-weight": 200
  ),
  "h6": (
    "weight": 300
  ),
  "overline": (
    "letter-spacing": 0.2em,
    "size": 14px
  ),
  "body-1": (
    "letter-spacing": 0
  )
);

$material-light: () !default;
$material-light: (
  "background": var(--color-bg)
);

$ripple-animation-transition-in: opacity 0.1s ease-in-out;
$ripple-animation-transition-out: opacity 0.3s ease-in-out;
$ripple-animation-visible-opacity: 0;

$tabs-item-letter-spacing: normal;
$tabs-bar-background-color: transparent;

$list-item-action-text-font-size: 1rem;

// Default Vuetify transitions
// $transition: () !default;
// $transition: map-deep-merge(
//   (
//     'fast-out-slow-in': cubic-bezier(0.4, 0, 0.2, 1),
//     'linear-out-slow-in': cubic-bezier(0, 0, 0.2, 1),
//     'fast-out-linear-in': cubic-bezier(0.4, 0, 1, 1),
//     'ease-in-out': cubic-bezier(0.4, 0, 0.6, 1),
//     'fast-in-fast-out': cubic-bezier(0.25, 0.8, 0.25, 1),
//     'swing': cubic-bezier(0.25, 0.8, 0.5, 1)
//   ),
//   $transition
// );
$primary-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !default; //fast-in-fast-out
$secondary-transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1) !default; //ease-in-out

// If you need to extend Vuetify SASS lists
$material-light: (
  background: var(--color-bg),
  // cards: transparent,
  sheet: white
);

@import "~vuetify/src/styles/styles.sass";
